<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>vue todo </title>
  </head>
  <body>
    <div id="app">
    </div>

    <div id="coba">
      <b>Nama</b> : {{ nama.depan }} {{ nama.belakang }} <br>
      <b>Alamat</b> : {{ alamat.desa }}, {{ alamat.kelurahan }},{{ alamat.kecamatan }}, {{ alamat.kabupaten }}
    </div>

    <script src="/dist/build.js"></script>
  </body>
</html>
